.pager__item {
  @apply border border-grey-5 text-grey-3 h-8 w-8 rounded flex justify-center;
}

.pager__item--active {
  @apply border-red text-red;
}

.pager__item--next, .pager__item--prev {
  @apply text-grey-4;
}