.menu {
  @apply bg-red h-screen w-16 fixed top-0 left-0 z-20;
}

.menu__item {
  a {
    @apply text-white block text-center py-3;

    &:hover {
      @apply bg-white text-red;
    }
  }

  em {
    @apply text-2xl;
  }
}

.menu--isOpen {
  @apply w-60;

  .menu__item  {
    @apply border-b border-dashed border-white;

    a {
      @apply text-left flex items-center;
    }

    em {
      @apply mx-5
    }
  }
}