.report__block{
  @apply bg-white rounded shadow-md mb-4 p-5;
}

.report__statistic-title {
  @apply text-grey-3 mb-5;
}

.report__statistic-number {
  @apply font-bold text-4xl;
}

.chart__title {
  @apply text-grey-3 text-sm mb-3;
}

.tab {
  @apply inline-block mr-10 pb-3;
}

.tab--active {
  @apply border-red border-b-3 font-semibold;
}