.chemicals__table {
  th {
    @apply uppercase py-6 px-9 text-left text-grey;
  }

  tbody {
    tr:nth-child(odd) {
      td {
        @apply bg-grey-6 py-4 px-9;
      }
    }

    td {
      @apply py-4 px-9;
    }
  }
}