.form__control {
  @apply border border-grey-5 rounded relative p-2;
}

.form__label {
  @apply absolute -top-2 text-grey-3 text-xs bg-white px-1;
}

.form__control-datepicker {
  :global {
    .react-daterange-picker__wrapper {
      @apply border-0;
    }

    .react-daterange-picker__calendar-button {

      svg {
        // @apply hidden;
      }
    }
  }
}