@font-face {font-family: "hectre-icon";
  src: url('hectre-icon.eot?t=1640967266632'); /* IE9*/
  src: url('hectre-icon.eot?t=1640967266632#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("hectre-icon.woff2?t=1640967266632") format("woff2"),
  url("hectre-icon.woff?t=1640967266632") format("woff"),
  url('hectre-icon.ttf?t=1640967266632') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('hectre-icon.svg?t=1640967266632#hectre-icon') format('svg'); /* iOS 4.1- */
}

[class^="hectre-icon-"], [class*=" hectre-icon-"] {
  font-family: 'hectre-icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hectre-icon-arrow-down:before { content: "\ea01"; }
.hectre-icon-arrow-left:before { content: "\ea02"; }
.hectre-icon-arrow-right:before { content: "\ea03"; }
.hectre-icon-calendar:before { content: "\ea04"; }
.hectre-icon-chemicals:before { content: "\ea05"; }
.hectre-icon-filter:before { content: "\ea06"; }
.hectre-icon-menu:before { content: "\ea07"; }
.hectre-icon-report:before { content: "\ea08"; }
.hectre-icon-threedots:before { content: "\ea09"; }

$hectre-icon-arrow-down: "\ea01";
$hectre-icon-arrow-left: "\ea02";
$hectre-icon-arrow-right: "\ea03";
$hectre-icon-calendar: "\ea04";
$hectre-icon-chemicals: "\ea05";
$hectre-icon-filter: "\ea06";
$hectre-icon-menu: "\ea07";
$hectre-icon-report: "\ea08";
$hectre-icon-threedots: "\ea09";

